{% extends 'base.html' %}
{% block title %}
    {{ object.name }}
{% endblock %}


{% block content %}
    {{ object.category }}
    {{ object.name }}
    {{ object.price }}
{#    <form id="form_buying_product" class="form-inline">#}
{#    <div class="form-group">#}
{#        <input type="number" class="form-control">#}
{#        <button type="submit" class="btn btn-success btn-buy">#}
{#            Buy#}
{#        </button>#}
{#    </div>#}
{#    </form>#}

 <form id="form_post" class="text-center" action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Отправить"></p>
 </form>
{% endblock %}
